safreviv/afi/fte/AFIW06.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:p1="http://infonavit.org.mx/DATOSMAESTROS/sndActDatosMaestros" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="SI_ActDatosMaestros_SO" targetNamespace="http://infonavit.org.mx/DATOSMAESTROS/sndActDatosMaestros">
	<wsdl:documentation/>
	<wsp:UsingPolicy wsdl:required="true"/>
	<wsp:Policy wsu:Id="OP_SI_ActDatosMaestros_SO"/>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://infonavit.org.mx/DATOSMAESTROS/sndActDatosMaestros" targetNamespace="http://infonavit.org.mx/DATOSMAESTROS/sndActDatosMaestros">
			<xsd:element name="MT_ActDatosMaestros_res" type="DT_ActDatosMaestros_res"/>
			<xsd:element name="MT_ActDatosMaestros_req" type="DT_ActDatosMaestros"/>
			<xsd:complexType name="DT_ActDatosMaestros_res">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">ca80f2d3af2611e593660000006a88db</xsd:appinfo>
					</xsd:annotation>
					<xsd:sequence>
						<xsd:element name="codigo" type="xsd:string"/>
						<xsd:element name="descripcion" type="xsd:string"/>
						</xsd:sequence>
						</xsd:complexType>
						<xsd:complexType name="DT_ActDatosMaestros">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/VersionID">622d472af5fe11e5b8750000006a88da</xsd:appinfo>
							</xsd:annotation>
							<xsd:sequence>
								<xsd:element name="indicador" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">6be065a8f5fe11e595b5543a4bba861e</xsd:appinfo>
										</xsd:annotation>
										</xsd:element>
										<xsd:element name="partner" type="xsd:string" minOccurs="0">
										<xsd:annotation><xsd:appinfo source="http://sap.com/xi/TextID">977baf2cf5fe11e5887b543a4bba861e</xsd:appinfo>
											</xsd:annotation>
											</xsd:element>
											<xsd:element name="rfc" type="xsd:string">
												<xsd:annotation>
													<xsd:appinfo source="http://sap.com/xi/TextID">6be09e59f5fe11e5c12a543a4bba861e</xsd:appinfo>
													</xsd:annotation>
													</xsd:element>
													<xsd:element name="curp" type="xsd:string">
														<xsd:annotation>
															<xsd:appinfo source="http://sap.com/xi/TextID">6be09e5af5fe11e58e98543a4bba861e</xsd:appinfo>
															</xsd:annotation>
															</xsd:element>
															<xsd:element name="nombre" type="xsd:string">
															<xsd:annotation>
																<xsd:appinfo source="http://sap.com/xi/TextID">6be09e5bf5fe11e5bd15543a4bba861e</xsd:appinfo>
																</xsd:annotation>
																</xsd:element>
																<xsd:element name="apaterno" type="xsd:string">
																	<xsd:annotation>
																		<xsd:appinfo source="http://sap.com/xi/TextID">6be09e5cf5fe11e5ccba543a4bba861e</xsd:appinfo>
																		</xsd:annotation>
																		</xsd:element>
																		<xsd:element name="amaterno" type="xsd:string">
																			<xsd:annotation>
																				<xsd:appinfo source="http://sap.com/xi/TextID">6be09e5df5fe11e597e0543a4bba861e</xsd:appinfo>
																				</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="nss" type="xsd:string">
																					<xsd:annotation>
																						<xsd:appinfo source="http://sap.com/xi/TextID">6be065a9f5fe11e5c7a3543a4bba861e</xsd:appinfo>
																						</xsd:annotation>
																						</xsd:element>
																						</xsd:sequence>
																						</xsd:complexType>
																						</xsd:schema>
																						</wsdl:types>
																						<wsdl:message name="MT_ActDatosMaestros_req">
																							<wsdl:documentation/>
																							<wsdl:part name="MT_ActDatosMaestros_req" element="p1:MT_ActDatosMaestros_req"/>
																							</wsdl:message>
																							<wsdl:message name="MT_ActDatosMaestros_res">
																								<wsdl:documentation/>
																								<wsdl:part name="MT_ActDatosMaestros_res" element="p1:MT_ActDatosMaestros_res"/>
																								</wsdl:message>
																								<wsdl:portType name="SI_ActDatosMaestros_SO">
																									<wsdl:documentation/>
																									<wsdl:operation name="SI_ActDatosMaestros_SO">
																										<wsdl:documentation/>
																										<wsp:Policy>
																											<wsp:PolicyReference URI="#OP_SI_ActDatosMaestros_SO"/>
																											</wsp:Policy>
																											<wsdl:input message="p1:MT_ActDatosMaestros_req"/>
																											<wsdl:output message="p1:MT_ActDatosMaestros_res"/>
																											</wsdl:operation>
																											</wsdl:portType>
																											<wsdl:binding name="SI_ActDatosMaestros_SOBinding" type="p1:SI_ActDatosMaestros_SO">
																												<soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
																												<wsdl:operation name="SI_ActDatosMaestros_SO">
																													<soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
																													<wsdl:input>
																														<soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
																														</wsdl:input>
																														<wsdl:output>
																															<soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
																															</wsdl:output>
																															</wsdl:operation>
																															</wsdl:binding>
																															<wsdl:service name="SI_ActDatosMaestros_SOService">
																																<wsdl:port name="HTTP_Port" binding="p1:SI_ActDatosMaestros_SOBinding">
																																	<!--soap:address location="http://091402ai203.infonavit.net:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_BPM&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ActDatosMaestros_SO&amp;interfaceNamespace=http%3A%2F%2Finfonavit.org.mx%2FDATOSMAESTROS%2FsndActDatosMaestros" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/-->
																																	<soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="http://172.16.16.201/servicio"/>
																																	</wsdl:port>
																																		</wsdl:service>
																																		</wsdl:definitions>