safreviv/agr/fte/InformaCreditoEjercido.wsdl

<?xml version="1.0" encoding="UTF-8"?><?FJSWSDLUpdate http://localhost:8080/WSMarcaSafre/services/InformaCreditoEjercidoServices?wsdl?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.safre.efp.com" xmlns:intf="http://services.safre.efp.com" xmlns:tns1="http://vo.safre.efp.com" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://services.safre.efp.com">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://services.safre.efp.com">
   <import namespace="http://vo.safre.efp.com"/>
   <element name="informarCreditoEjercido">
    <complexType>
     <sequence>
      <element name="request" type="tns1:CreditoEjercidoRequest"/>
     </sequence>
    </complexType>
   </element>
   <element name="informarCreditoEjercidoResponse">
    <complexType>
     <sequence>
      <element name="informarCreditoEjercidoReturn" type="tns1:CreditoEjercidoResponse"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://vo.safre.efp.com">
   <complexType name="CreditoEjercidoRequest">
    <sequence>
     <element name="fechaOtorgamiento" nillable="true" type="xsd:dateTime"/>
     <element name="fechaProceso" nillable="true" type="xsd:dateTime"/>
     <element name="montoLiquida" nillable="true" type="xsd:decimal"/>
     <element name="nrp" nillable="true" type="xsd:string"/>
     <element name="nss" nillable="true" type="xsd:string"/>
     <element name="numeroCredito" nillable="true" type="xsd:string"/>
     <element name="tipoCredito" nillable="true" type="xsd:string"/>
     <element name="tipoDescuento" nillable="true" type="xsd:int"/>
     <element name="tipoOperacion" nillable="true" type="xsd:string"/>
     <element name="valorDescuento" nillable="true" type="xsd:decimal"/>
    </sequence>
   </complexType>
   <complexType name="CreditoEjercidoResponse">
    <sequence>
     <element name="codigoRespuesta" nillable="true" type="xsd:string"/>
     <element name="descripcion" nillable="true" type="xsd:string"/>
     <element name="nss" nillable="true" type="xsd:string"/>
     <element name="numeroCredito" nillable="true" type="xsd:string"/>
     <element name="tipoCredito" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="informarCreditoEjercidoRequest">

      <wsdl:part element="impl:informarCreditoEjercido" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="informarCreditoEjercidoResponse">

      <wsdl:part element="impl:informarCreditoEjercidoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="InformaCreditoEjercidoServices">

      <wsdl:operation name="informarCreditoEjercido">

         <wsdl:input message="impl:informarCreditoEjercidoRequest" name="informarCreditoEjercidoRequest">

       </wsdl:input>

         <wsdl:output message="impl:informarCreditoEjercidoResponse" name="informarCreditoEjercidoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="InformaCreditoEjercidoServicesSoapBinding" type="impl:InformaCreditoEjercidoServices">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="informarCreditoEjercido">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="informarCreditoEjercidoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="informarCreditoEjercidoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="InformaCreditoEjercidoServicesService">

      <wsdl:port binding="impl:InformaCreditoEjercidoServicesSoapBinding" name="InformaCreditoEjercidoServices">

         <wsdlsoap:address location="http://localhost:8080/WSMarcaSafre/services/InformaCreditoEjercidoServices"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>