safreviv/ret/fte/ConfirmaPagoService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?><!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.10-06/29/2016 1:04:51 PMforeman-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a>--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://mx/com/infonavit/sgcj/ws/confpago/" version="1.0" targetNamespace="http://mx/com/infonavit/sgcj/ws/confpago/">

  <xs:element name="confPagoJuridicoSSV" type="tns:confPagoJuridicoSSV"/>

  <xs:element name="confPagoJuridicoSSVResponse" type="tns:confPagoJuridicoSSVResponse"/>

  <xs:complexType name="confPagoJuridicoSSV">
    <xs:sequence>
      <xs:element name="requestConfirmacionPago" type="tns:dtReqConfirmaPago" form="qualified" minOccurs="0"/>
      <xs:element name="confirmacionBeneficiarios" type="tns:confirmacionBeneficiarios" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="confirmacionPago" type="tns:dtConfirmaPago" form="qualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dtReqConfirmaPago">
    <xs:sequence>
      <xs:element name="nss" type="xs:string"/>
      <xs:element name="noCaso" type="xs:string"/>
      <xs:element name="tipoBeneficiario" type="xs:string"/>
      <xs:element name="referenciaPago" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="confirmacionBeneficiarios">
    <xs:sequence>
      <xs:element name="idBeneficiario" type="xs:string" minOccurs="0"/>
      <xs:element name="nombreBeneficiario" type="xs:string" minOccurs="0"/>
      <xs:element name="paternoBeneficiario" type="xs:string" minOccurs="0"/>
      <xs:element name="maternoBeneficiario" type="xs:string" minOccurs="0"/>
      <xs:element name="marcaPago" type="xs:string" minOccurs="0"/>
      <xs:element name="nota" type="xs:string" minOccurs="0"/>
      <xs:element name="referenciaPago" type="xs:string" minOccurs="0"/>
      <xs:element name="porcentaje" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dtConfirmaPago">
    <xs:sequence>
      <xs:element name="estatusSACI" type="xs:string" minOccurs="0"/>
      <xs:element name="cRechazo" type="xs:string" minOccurs="0"/>
      <xs:element name="dRechazo" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="confPagoJuridicoSSVResponse">
    <xs:sequence>
      <xs:element name="responseConfirmacionPago" type="tns:dtRespConfirmaPago" form="qualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dtRespConfirmaPago">
    <xs:sequence>
      <xs:element name="codigo" type="xs:string" minOccurs="0"/>
      <xs:element name="descripcion" type="xs:string" minOccurs="0"/>
      <xs:element name="mensaje" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>