safreviv/ret/fte/Cuenta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://services.infonavit.org.mx" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="Cuenta">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="clabe" type="xsd:string"/>
      <xsd:element minOccurs="1" name="referencia" type="xsd:string"/>
      <xsd:element minOccurs="0" name="clabeAnterior" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>