safreviv/ret/fte/DocumentoOtroPago.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://services.infonavit.org.mx/sap" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="DocumentoOtroPago">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="referenciaUnica" type="xsd:string"/>
      <xsd:element minOccurs="0" name="numeroDocumentoContable" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ejercicio" type="xsd:int"/>
      <xsd:element minOccurs="0" name="estatus" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>