safreviv/ret/fte/EntradaCPA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://services.infonavit.org.mx" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="EntradaCPA">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="documento" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ejercicio" type="xsd:string"/>
      <xsd:element minOccurs="0" name="sociedad" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>