safreviv/ret/fte/EstatusLaboralTrabajador.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://services.infonavit.org.mx/estatuslaboralie" xmlns:bons0="http://services.infonavit.org.mx/estatuslaboralie" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:include schemaLocation="RelacionLaboral.xsd"/>
    <xsd:complexType name="EstatusLaboralTrabajador">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="nss" type="xsd:string"/>
            <xsd:element minOccurs="0" name="nombre" type="xsd:string"/>
      <xsd:element minOccurs="0" name="rfc" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tipoRelacion" type="xsd:string"/>
            <xsd:element minOccurs="0" name="numCredito" type="xsd:string"/>
            <xsd:element minOccurs="0" name="resultado" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="relacionLab" type="bons0:RelacionLaboral"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>