safreviv/ret/fte/EstatusLaboralPatron.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://services.infonavit.org.mx/estatuslaboralie" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="EstatusLaboralPatron">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="rfc" type="xsd:string"/>
      <xsd:element minOccurs="0" name="razonSocial" type="xsd:string"/>
      <xsd:element minOccurs="0" name="email" type="xsd:string"/>
      <xsd:element minOccurs="0" name="resultado" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>