safreviv/ret/fte/RelacionLaboral.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://services.infonavit.org.mx/estatuslaboralie" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="RelacionLaboral">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="nrp" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fechaAlta" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fechaBaja" type="xsd:string"/>
      <xsd:element minOccurs="0" name="delegacion" type="xsd:string"/>
      <xsd:element minOccurs="0" name="nomDelegacion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>