safreviv/ret/fte/ret_adjunta_docto_crm.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:p1="http://infonavit.org.mx/ADJUNTA/sndAdjuntarDocumento" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="SI_AdjuntarDocumento_SO" targetNamespace="http://infonavit.org.mx/ADJUNTA/sndAdjuntarDocumento">
    <wsdl:documentation/>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="OP_SI_AdjuntarDocumento_SO"/>
    <wsdl:types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://infonavit.org.mx/ADJUNTA/sndAdjuntarDocumento" targetNamespace="http://infonavit.org.mx/ADJUNTA/sndAdjuntarDocumento">
        <xsd:element name="MT_AdjuntarDocumento_req" type="DT_AdjuntarDocumento"/>
        <xsd:element name="MT_AdjuntarDocumento_res" type="DT_AdjuntarDocumento_res"/>
        <xsd:complexType name="DT_AdjuntarDocumento_res">
          <xsd:annotation>
            <xsd:appinfo source="http://sap.com/xi/VersionID">a34320c37d8b11e5945f0000006a88da</xsd:appinfo>
          </xsd:annotation>
          <xsd:attribute name="status" type="xsd:string"/>
        </xsd:complexType>
        <xsd:complexType name="DT_AdjuntarDocumento">
          <xsd:annotation>
            <xsd:appinfo source="http://sap.com/xi/VersionID">441d227f9ad711e5804d0000006a88da</xsd:appinfo>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element name="caso" type="xsd:string">
              <xsd:annotation>
                <xsd:appinfo source="http://sap.com/xi/TextID">4df9d4809ad711e58bb654b032bcc60a</xsd:appinfo>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="marca_origen" type="xsd:string">
              <xsd:annotation>
                <xsd:appinfo source="http://sap.com/xi/TextID">4df9d4819ad711e5b04054b032bcc60a</xsd:appinfo>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="Adjunta_doc" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:appinfo source="http://sap.com/xi/TextID">44772b949ad711e5981254b032bcc60a</xsd:appinfo>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="nombre_archivo" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                      <xsd:appinfo source="http://sap.com/xi/TextID">44772b929ad711e58b1354b032bcc60a</xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="archivo" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                      <xsd:appinfo source="http://sap.com/xi/TextID">44772b939ad711e5c97754b032bcc60a</xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:schema>
    </wsdl:types>
    <wsdl:message name="MT_AdjuntarDocumento_req">
      <wsdl:documentation/>
      <wsdl:part name="MT_AdjuntarDocumento_req" element="p1:MT_AdjuntarDocumento_req"/>
    </wsdl:message>
    <wsdl:message name="MT_AdjuntarDocumento_res">
      <wsdl:documentation/>
      <wsdl:part name="MT_AdjuntarDocumento_res" element="p1:MT_AdjuntarDocumento_res"/>
    </wsdl:message>
    <wsdl:portType name="SI_AdjuntarDocumento_SO">
      <wsdl:documentation/>
      <wsdl:operation name="SI_AdjuntarDocumento_SO">
        <wsdl:documentation/>
        <wsp:Policy>
          <wsp:PolicyReference URI="#OP_SI_AdjuntarDocumento_SO"/>
        </wsp:Policy>
        <wsdl:input message="p1:MT_AdjuntarDocumento_req"/>
        <wsdl:output message="p1:MT_AdjuntarDocumento_res"/>
      </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SI_AdjuntarDocumento_SOBinding" type="p1:SI_AdjuntarDocumento_SO">
      <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="SI_AdjuntarDocumento_SO">
        <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
        <wsdl:input>
          <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
        </wsdl:input>
        <wsdl:output>
          <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
        </wsdl:output>
      </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SI_AdjuntarDocumento_SOService">
      <wsdl:port name="HTTP_Port" binding="p1:SI_AdjuntarDocumento_SOBinding">
        <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="http://091402ai203.infonavit.net:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_PORTAL&amp;receiverParty=&amp;receiverService=&amp;interface=SI_AdjuntarDocumento_SO&amp;interfaceNamespace=http://infonavit.org.mx/ADJUNTA/sndAdjuntarDocumento"/>
      </wsdl:port>
    </wsdl:service>
  </wsdl:definitions>