safreviv/ret/fte/ret_actualiza_estado_crm.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:p1="http://infonavit.org.mx/DSSV/sndActualizaEstatus" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="SI_ActualizarEstatusCasoCRM_SO" targetNamespace="http://infonavit.org.mx/DSSV/sndActualizaEstatus">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <wsp:Policy wsu:Id="OP_SI_ActualizarEstatusCasoCRM_SO"/>
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://infonavit.org.mx/DSSV/sndActualizaEstatus" targetNamespace="http://infonavit.org.mx/DSSV/sndActualizaEstatus">
      <xsd:element name="MT_ActualizarEstatusCasoCRM_res" type="DT_ActualizarEstatusCasoCRM_res"/>
      <xsd:element name="MT_ActualizarEstatusCasoCRM_req" type="DT_ActualizarEstatusCasoCRM"/>
      <xsd:complexType name="DT_ActualizarEstatusCasoCRM_res">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">dc759e9374a011e8ba3600000106cf7e</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="ResponseActualizaEstatus">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="codigo" type="xsd:string"/>
                <xsd:element name="descripcion" type="xsd:string"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_ActualizarEstatusCasoCRM">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">ba777e0574a011e8901800000106cf7e</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="RequestActualizaEstatus">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="nss" type="xsd:string"/>
                <xsd:element name="noCaso" type="xsd:string"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_ActualizarEstatusCasoCRM_req">
    <wsdl:documentation/>
    <wsdl:part name="MT_ActualizarEstatusCasoCRM_req" element="p1:MT_ActualizarEstatusCasoCRM_req"/>
  </wsdl:message>
  <wsdl:message name="MT_ActualizarEstatusCasoCRM_res">
    <wsdl:documentation/>
    <wsdl:part name="MT_ActualizarEstatusCasoCRM_res" element="p1:MT_ActualizarEstatusCasoCRM_res"/>
  </wsdl:message>
  <wsdl:portType name="SI_ActualizarEstatusCasoCRM_SO">
    <wsdl:documentation/>
    <wsdl:operation name="SI_ActualizarEstatusCasoCRM_SO">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_ActualizarEstatusCasoCRM_SO"/>
      </wsp:Policy>
      <wsdl:input message="p1:MT_ActualizarEstatusCasoCRM_req"/>
      <wsdl:output message="p1:MT_ActualizarEstatusCasoCRM_res"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_ActualizarEstatusCasoCRM_SOBinding" type="p1:SI_ActualizarEstatusCasoCRM_SO">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SI_ActualizarEstatusCasoCRM_SO">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_ActualizarEstatusCasoCRM_SOService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_ActualizarEstatusCasoCRM_SOBinding">
      <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="http://091402aq135.infonavit.net:8010/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_PORTAL&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ActualizarEstatusCasoCRM_SO&amp;interfaceNamespace=http://infonavit.org.mx/DSSV/sndActualizaEstatus"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>