safreviv/ret/fte/ret_confirma_pago_ae.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:p1="http://infonavit.org.mx/DEVOLUCIONES_EFIRMA/sndConfirmacionPago" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="SI_confirmacionPago_SO" targetNamespace="http://infonavit.org.mx/DEVOLUCIONES_EFIRMA/sndConfirmacionPago">
    <wsdl:documentation/>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="OP_SI_confirmacionPago_SO"/>
    <wsdl:types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://infonavit.org.mx/DEVOLUCIONES_EFIRMA/sndConfirmacionPago" targetNamespace="http://infonavit.org.mx/DEVOLUCIONES_EFIRMA/sndConfirmacionPago">
        <xsd:element name="MT_confirmacionPago_res" type="DT_confirmacionPago_res"/>
        <xsd:element name="MT_confirmacionPago_req" type="DT_confirmacionPago"/>
        <xsd:complexType name="DT_confirmacionPago_res">
          <xsd:annotation>
            <xsd:appinfo source="http://sap.com/xi/VersionID">a59d083cb20611e8a68600000106cf7e</xsd:appinfo>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element name="mensaje" type="xsd:string" minOccurs="0">
              <xsd:annotation>
                <xsd:appinfo source="http://sap.com/xi/TextID">c135a983b20611e89cad545f83464510</xsd:appinfo>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="codigo" type="xsd:string">
              <xsd:annotation>
                <xsd:appinfo source="http://sap.com/xi/TextID">c87fdfd8b20611e8b03b545f83464510</xsd:appinfo>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="descripcion" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
        <xsd:complexType name="DT_confirmacionPago">
          <xsd:annotation>
            <xsd:appinfo source="http://sap.com/xi/VersionID">cba632ffb20511e8c0fc00000106cf7e</xsd:appinfo>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element name="nss" type="xsd:string">
              <xsd:annotation>
                <xsd:appinfo source="http://sap.com/xi/TextID">0c3ec940b20611e89d3d545f83464510</xsd:appinfo>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="noCaso" type="xsd:string">
              <xsd:annotation>
                <xsd:appinfo source="http://sap.com/xi/TextID">0c3ec941b20611e8c92a545f83464510</xsd:appinfo>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="referenciaPago" type="xsd:string" minOccurs="0"/>
            <xsd:element name="estatusSACI" type="xsd:string"/>
            <xsd:element name="codRechazo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="descRechazo" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:schema>
    </wsdl:types>
    <wsdl:message name="MT_confirmacionPago_req">
      <wsdl:documentation/>
      <wsdl:part name="MT_confirmacionPago_req" element="p1:MT_confirmacionPago_req"/>
    </wsdl:message>
    <wsdl:message name="MT_confirmacionPago_res">
      <wsdl:documentation/>
      <wsdl:part name="MT_confirmacionPago_res" element="p1:MT_confirmacionPago_res"/>
    </wsdl:message>
    <wsdl:portType name="SI_confirmacionPago_SO">
      <wsdl:documentation/>
      <wsdl:operation name="SI_confirmacionPago_SO">
        <wsdl:documentation/>
        <wsp:Policy>
          <wsp:PolicyReference URI="#OP_SI_confirmacionPago_SO"/>
        </wsp:Policy>
        <wsdl:input message="p1:MT_confirmacionPago_req"/>
        <wsdl:output message="p1:MT_confirmacionPago_res"/>
      </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SI_confirmacionPago_SOBinding" type="p1:SI_confirmacionPago_SO">
      <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="SI_confirmacionPago_SO">
        <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
        <wsdl:input>
          <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
        </wsdl:input>
        <wsdl:output>
          <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
        </wsdl:output>
      </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SI_confirmacionPago_SOService">
      <wsdl:port name="HTTP_Port" binding="p1:SI_confirmacionPago_SOBinding">
        <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="http://091402aq137.infonavit.net:8010/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_SACI&amp;receiverParty=&amp;receiverService=&amp;interface=SI_confirmacionPago_SO&amp;interfaceNamespace=http%3A%2F%2Finfonavit.org.mx%2FDEVOLUCIONES_EFIRMA%2FsndConfirmacionPago"/>
      </wsdl:port>
    </wsdl:service>
  </wsdl:definitions>