safreviv/sep/fte/ConsultaEstadoExpedienteService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://separacion.safre.efp.com" xmlns:intf="http://separacion.safre.efp.com" xmlns:tns1="http://vo.separacion.safre.efp.com" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://separacion.safre.efp.com">
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://separacion.safre.efp.com">
			<import namespace="http://vo.separacion.safre.efp.com"/>
			<element name="consultaEstadoExpediente">
				<complexType>
					<sequence>
						<element name="estadoExpedienteRequest" type="tns1:EstadoExpedienteRequest"/>
					</sequence>
				</complexType>
			</element>
			<element name="consultaEstadoExpedienteResponse">
				<complexType>
					<sequence>
						<element name="consultaEstadoExpedienteReturn" type="tns1:EstadoExpedienteResponse"/>
					</sequence>
				</complexType>
			</element>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://vo.separacion.safre.efp.com">
			<complexType name="EstadoExpedienteRequest">
				<sequence>
					<element name="nssAsociado" nillable="false" type="xsd:string"/>
					<element name="nssInvadido" nillable="false" type="xsd:string"/>
					<element name="numeroCaso" nillable="false" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="EstadoExpedienteResponse">
				<sequence>
					<element name="codigoEstado" nillable="true" type="xsd:string"/>
					<element name="descripcion" nillable="true" type="xsd:string"/>
					<element name="diagRechazo" nillable="true" type="xsd:string"/>
					<element name="nssAsociado" nillable="true" type="xsd:string"/>
					<element name="nssInvadido" nillable="true" type="xsd:string"/>
					<element name="numeroCaso" nillable="true" type="xsd:string"/>
					<element name="resultOperacion" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="consultaEstadoExpedienteRequest">
		<wsdl:part name="parameters" element="impl:consultaEstadoExpediente">

      </wsdl:part>
	</wsdl:message>
	<wsdl:message name="consultaEstadoExpedienteResponse">
		<wsdl:part name="parameters" element="impl:consultaEstadoExpedienteResponse">

      </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ConsultaEstadoExpediente">
		<wsdl:operation name="consultaEstadoExpediente">
			<wsdl:input name="consultaEstadoExpedienteRequest" message="impl:consultaEstadoExpedienteRequest">

       </wsdl:input>
			<wsdl:output name="consultaEstadoExpedienteResponse" message="impl:consultaEstadoExpedienteResponse">

       </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ConsultaEstadoExpedienteSoapBinding" type="impl:ConsultaEstadoExpediente">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="consultaEstadoExpediente">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ConsultaEstadoExpedienteService">
		<wsdl:port name="ConsultaEstadoExpediente" binding="impl:ConsultaEstadoExpedienteSoapBinding">
			<wsdlsoap:address location="http://localhost:8080/SeparaCuentas/services/ConsultaEstadoExpediente"/>
		</wsdl:port>
	</wsdl:service>
	<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
</wsdl:definitions>