safreviv/mdt/fte/NotificaInstruccionMandatosService.wsdl

<?xml version="1.0" encoding="UTF-8"?><?FJSWSDLUpdate http://190.130.1.167:8080/WSMandatos/services/NotificaInstruccionMandatosService?WSDL?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://mandatos.safre.efp.com" xmlns:intf="http://mandatos.safre.efp.com" xmlns:tns1="http://vo.mandatos.safre.efp.com" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mandatos.safre.efp.com">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://mandatos.safre.efp.com">
   <import namespace="http://vo.mandatos.safre.efp.com"/>
   <element name="notifica_instruccion_mdt_can">
    <complexType>
     <sequence>
      <element name="notificaInstruccionRequest" type="tns1:NotificaInstruccionRequest"/>
     </sequence>
    </complexType>
   </element>
   <element name="notifica_instruccion_mdt_canResponse">
    <complexType>
     <sequence>
      <element name="notifica_instruccion_mdt_canReturn" type="tns1:NotificaInstruccionResponse"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://vo.mandatos.safre.efp.com">
   <complexType name="NotificaInstruccionRequest">
    <sequence>
     <element name="id_origen" nillable="true" type="xsd:int"/>
     <element name="nss" type="xsd:string"/>
     <element name="id_credito" nillable="true" type="xsd:decimal"/>
     <element name="id_mandato" type="xsd:string"/>
     <element name="tpo_descuento" nillable="true" type="xsd:int"/>
     <element name="valor_descuento" nillable="true" type="xsd:decimal"/>
     <element name="f_canales" nillable="true" type="xsd:date"/>
     <element name="f_inicio_mandato" nillable="true" type="xsd:date"/>
     <element name="f_culmina_mandato" nillable="true" type="xsd:date"/>
     <element name="referencia" type="xsd:string"/>
     <element name="id_canales" type="xsd:int"/>
     <element name="tipo_operacion" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="NotificaInstruccionResponse">
    <sequence>
     <element name="id_origen" nillable="true" type="xsd:int"/>
     <element name="nss" type="xsd:string"/>
     <element name="id_credito" nillable="true" type="xsd:decimal"/>
     <element name="id_mandato" type="xsd:string"/>
     <element name="tpo_descuento" nillable="true" type="xsd:int"/>
     <element name="valor_descuento" nillable="true" type="xsd:decimal"/>
     <element name="f_canales" nillable="true" type="xsd:date"/>
     <element name="f_inicio_mandato" nillable="true" type="xsd:date"/>
     <element name="f_culmina_mandato" nillable="true" type="xsd:date"/>
     <element name="referencia" type="xsd:string"/>
     <element name="id_canales" type="xsd:int"/>
     <element name="tipo_operacion" nillable="true" type="xsd:string"/>
     <element name="resultado_operacion" nillable="true" type="xsd:string"/>
     <element name="diagnostico" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="notifica_instruccion_mdt_canResponse">

      <wsdl:part element="impl:notifica_instruccion_mdt_canResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="notifica_instruccion_mdt_canRequest">

      <wsdl:part element="impl:notifica_instruccion_mdt_can" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="NotificaInstruccionMandatosService">

      <wsdl:operation name="notifica_instruccion_mdt_can">

         <wsdl:input message="impl:notifica_instruccion_mdt_canRequest" name="notifica_instruccion_mdt_canRequest">

       </wsdl:input>

         <wsdl:output message="impl:notifica_instruccion_mdt_canResponse" name="notifica_instruccion_mdt_canResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="NotificaInstruccionMandatosServiceSoapBinding" type="impl:NotificaInstruccionMandatosService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="notifica_instruccion_mdt_can">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="notifica_instruccion_mdt_canRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="notifica_instruccion_mdt_canResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="NotificaInstruccionMandatosServiceService">

      <wsdl:port binding="impl:NotificaInstruccionMandatosServiceSoapBinding" name="NotificaInstruccionMandatosService">

         <wsdlsoap:address location="http://190.130.1.167:8080/WSMandatos/services/NotificaInstruccionMandatosService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>